@model List<LeaRun.Entity.Am_Ammeter>
@{
    ViewBag.Title = "我的电表";
    Layout = "~/Views/Shared/_Partial.cshtml";
}
<div class="all pro-all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">我的电表</h1>
    </header>
    <div class="list-index">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <a class="pro repair-m" href="/Personal/AmmeterDetails?Number=@item.Number">
                    <div class="my-bill clear">
                        <span class="bill-span fl">表号：@item.AM_Code</span>
                    </div>
                    <span class="bill-span">@item.Province@item.City@item.County  @item.Address</span>
                    
                        <span class="bill-span">@item.Cell 单元 @item.Floor 楼层 @item.Room 号</span>
                    <i class="icon-next"></i>
                </a>
            }
        }
    </div>
</div>

