@model List<LeaRun.Entity.Am_Ammeter>
@{
    ViewBag.Title = "添加报修";
    Layout = "~/Views/Shared/_Partial.cshtml";
}

<div class="all pro-all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">添加报修</h1>
    </header>
    <div class="list-index">
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <div class="pro repair-m">

                    <span class="bill-span">@item.Province@item.City@item.County  @item.Address</span>
                    <div class="my-bill my-de clear">
                        <span class="bill-span fl">@item.Cell 单元 @item.Floor 层 @item.Room 号</span>
                    </div>
                    <i class="icon-next" style="background:none;width:100px;"><a href="/Personal/RepairAdd2?ammeterNumber=@item.Number">添加</a></i>
                </div>
            }
        }
        else
        {
            <div class="layui-flow-more">没有更多了</div>
        }
    </div>
</div>
<link href="~/Content/Scripts/layui/css/layui.css" rel="stylesheet" />