@{
    ViewBag.Title = "Am_AmmeterOperateLog";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
    })
    var AmNumber = GetQuery('Number');//传递过来的电表编号
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/AmmeterModule/Am_AmmeterOperateLog/GridPageListJson")?Number=" + AmNumber,
        datatype: "json",
        height: $(window).height() - 149,
        autowidth: true,
        colModel: [
                { label: 'Number', name: 'Number', index: 'Number', width: 0, align: 'left', hidden: true },
                { label: '采集器', name: 'CollectorCode', index: 'CollectorCode', width: 150, align: 'left', sortable: true },
                { label: '电表', name: 'AmmeterCode', index: 'AmmeterCode', width: 150, align: 'left', sortable: true },
                { label: '操作人', name: 'UserName', index: 'UserName', width: 150, align: 'left',sortable: true  },
                { label: '操作人姓名', name: 'U_Name', index: 'U_Name', width: 120, align: 'left', sortable: true },
                { label: '操作类型', name: 'OperateTypeStr', index: 'OperateTypeStr', width: 150, align: 'left',sortable: true  },
                { label: '操作结果', name: 'Result', index: 'Result', width: 150, align: 'left',sortable: true  },
                {
                    label: "操作时间", name: "CreateTime", index: "CreateTime", width: 150,
                    formatter: function (value, options, rowObject) {
                        return formatDate(value, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
        ],
        viewrecords: true,
        pager: "#gridPager",
        sortname: 'CreateTime',
        sortorder: 'desc',
        rownumbers: true,
        shrinkToFit: false,
        gridview: true,
    });
    }
    //返回
    function btn_Back() {
        Urlhref("/AmmeterModule/Am_Ammeter/Index");
    }
    //明细
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "Number");
        if (IsChecked(KeyValue)) {
            var url = "/AmmeterModule/Am_AmmeterOperateLog/Detail?KeyValue=" + KeyValue;
            Dialog(url, "Detail", "Am_AmmeterOperateLog明细", 820, 500, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
    //搜索
    function btn_Search() {
        var keywords = $("#keywords").val();
        var BeginTime = $("#BeginTime").val();
        var EndTime = $("#EndTime").val();

        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/AmmeterModule/Am_AmmeterOperateLog/GridPageListJson")?keywords=" + keywords + 
               '&Number=' + AmNumber + '&BeginTime=' + BeginTime + '&EndTime=' + EndTime, page: 1
    }).trigger('reloadGrid');
    }
    //要打印数据源，子页面调用的函数
    function PrintDataSource() {
        var columnModel = $("#gridTable").jqGrid('getGridParam', 'colModel');
        var dataModel = $("#gridTable").jqGrid("getRowData");
        //var footerData = $("#gridTable").jqGrid("footerData");
        var JsonData = {
            columnModel: columnModel,
            dataModel: dataModel,
            //footerData: footerData,
        }
        return JsonData;
    }
    //点击打印
    function btn_Print() {
        PrintDialog("/Utility/PrintPage", "PrintPage", "打印当前页", 1200, 500, function (iframe) {
            top.frames[iframe].SubmitPrint()
        });
    }
    //导出Excel
    function btn_derive() {
        //SetDeriveExcel("#gridTable", "订单信息");
        //openDialog("/CommonModule/ExcelImport/DeriveDialog", "DeriveDialog", "订单信息", 600, 300, function (iframe) {
        //    top.frames[iframe].AcceptClick();
        //});
        //var SelectedField = ""; $('#AccessView .selected a').each(function () { SelectedField += $(this).attr('id') + ","; });
        Loading(true, "正在处理要导出数据...");
        var keywords = $("#keywords").val();
        var BeginTime = $("#BeginTime").val();
        var EndTime = $("#EndTime").val();
        window.setTimeout(function () {
            location.href = "/AmmeterModule/Am_AmmeterOperateLog/ExportExcel??keywords=" + keywords + 
                 '&Number=' + AmNumber + '&BeginTime=' + BeginTime + '&EndTime=' + EndTime;
            Loading(false);
        }, 200);
    }
</script>
<!--工具栏-->
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>关键字：</th>
            <td>
                <input id="keywords" type="text" class="txt" style="width: 200px" />
            </td>
            <th>操作日期：</th>
            <td>
                <input id="BeginTime" type="text" class="txt Wdate" value="@LeaRun.Utilities.DateTimeHelper.GetToday()" style="width: 100px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
            </td>
            <td>-</td>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@LeaRun.Utilities.DateTimeHelper.GetToday()" style="width: 100px" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'BeginTime\')}' })" />
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
