@{
    ViewBag.Title = "Am_UserDeposit";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
    })
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
        url: "@Url.Content("~/AmmeterModule/Am_UserDeposit/GridPageJson")",
        datatype: "json",
        height: $(window).height() - 149,
        autowidth: true,
        colModel: [
                { label: 'Number', name: 'Number', index: 'Number', width: 0, align: 'left', hidden: true },
                { label: '用户名', name: 'UserName', index: 'UserName', width: 120, align: 'left', sortable: true },
                { label: '姓名', name: 'U_Name', index: 'U_Name', width: 80, align: 'left', sortable: true },
                { label: '电表编号', name: 'Ammeter_Code', index: 'Ammeter_Code', width: 100, align: 'left',sortable: true  },
                { label: '省', name: 'Province', index: 'Province', width: 60, align: 'left',sortable: true  },
                { label: '市', name: 'City', index: 'City', width: 60, align: 'left',sortable: true  },
                { label: '区', name: 'County', index: 'County', width: 60, align: 'left',sortable: true  },
                { label: '地址', name: 'Address', index: 'Address', width: 120, align: 'left',sortable: true  },
                { label: '单元', name: 'Cell', index: 'Cell', width: 60, align: 'left',sortable: true  },
                { label: '楼层', name: 'Floor', index: 'Floor', width: 60, align: 'left',sortable: true  },
                { label: '房间', name: 'Room', index: 'Room', width: 60, align: 'left',sortable: true  },
                { label: '押金时间', name: 'CreateTime', index: 'CreateTime', width: 120, align: 'left',sortable: true  },
                { label: '状态', name: 'StatusStr', index: 'StatusStr', width: 60, align: 'left',sortable: true  },
                { label: '押金', name: 'Money', index: 'Money', width: 60, align: 'left',sortable: true  },
        ],
        pager: "#gridPager",
        sortname: 'CreateTime',
        sortorder: 'desc',
        rownumbers: true,
        shrinkToFit: false,
        gridview: true,
    });
}
    //新增
    function btn_add() {
        var url = "/AmmeterModule/Am_UserDeposit/Form"
        openDialog(url, "Form", "新增Am_UserDeposit", 770, 395, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "Number");
        if (IsChecked(KeyValue)) {
            var url = "/AmmeterModule/Am_UserDeposit/Form?KeyValue=" + KeyValue;
            openDialog(url, "Form", "编辑Am_UserDeposit", 770, 395, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "Number");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/AmmeterModule/Am_UserDeposit/Delete', delparm, KeyValue.split(",").length);
        }
    }
    //明细
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "Number");
        if (IsChecked(KeyValue)) {
            var url = "/AmmeterModule/Am_UserDeposit/Detail?KeyValue=" + KeyValue;
            Dialog(url, "Detail", "Am_UserDeposit明细", 820, 500, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
        
    }
    //搜索
    function btn_Search() {
        var keywords = $("#keywords").val();
        var Stuts = $("#Stuts").val();
        var BeginTime = $("#BeginTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/AmmeterModule/Am_UserDeposit/GridPageListJson")?Stuts=" + Stuts + '&keywords=' + keywords +'&BeginTime=' + BeginTime + '&EndTime=' + EndTime , page: 1
    }).trigger('reloadGrid');
    }
    //要打印数据源，子页面调用的函数
    function PrintDataSource() {
        var columnModel = $("#gridTable").jqGrid('getGridParam', 'colModel');
        var dataModel = $("#gridTable").jqGrid("getRowData");
        //var footerData = $("#gridTable").jqGrid("footerData");
        var JsonData = {
            columnModel: columnModel,
            dataModel: dataModel,
            //footerData: footerData,
        }
        return JsonData;
    }
    //点击打印
    function btn_Print() {
        PrintDialog("/Utility/PrintPage", "PrintPage", "打印当前页", 1200, 500, function (iframe) {
            top.frames[iframe].SubmitPrint()
        });
    }
    //导出Excel
    function btn_derive() {
        Loading(true, "正在处理要导出数据...");
        var keywords = $("#keywords").val();
        var Stuts = $("#Stuts").val();
        var BeginTime = $("#BeginTime").val();
        var EndTime = $("#EndTime").val();
        window.setTimeout(function () {
            location.href = "/AmmeterModule/Am_UserDeposit/ExportExcel??keywords=" + keywords + '&Stuts=' + Stuts +
                '&BeginTime=' + BeginTime + '&EndTime=' + EndTime;
            Loading(false);
        }, 200);
    }
</script>
<!--工具栏-->
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>关键字：</th>
            <td>
                <input id="keywords" type="text" class="txt" style="width: 200px" />
            </td>
            <th>时间：</th>
            <td>
                <input id="BeginTime" type="text" class="txt Wdate" value="@LeaRun.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
            </td>
            <td>-</td>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@LeaRun.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'BeginTime\')}' })" />
            </td>
            <th>状态：</th>
            <td>
                <select id="Stuts" class="select" style="width: 120px">
                    <option value="-1">请选择</option>
                    <option value="0">冻结押金</option>
                    <option value="1">已退还</option>
                </select>
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
