@{
    ViewBag.Title = "Am_Repair";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
        BindCombobox();
    })
    //初始化绑定下拉框
    function BindCombobox() {
        //所在省
        $("#ProvinceId").append("<option value=''>==请选择==</option>");
        $("#CityId").append("<option value=''>==请选择==</option>");
        $("#CountyId").append("<option value=''>==请选择==</option>");
        AjaxJson("/Utility/GetProvinceCityListJson", { ParentId: 0 }, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#ProvinceId").append($("<option></option>").val(DataJson[i].Code).html(DataJson[i].FullName));
            });
        })
        //所在市
        $("#ProvinceId").change(function () {
            BindCityId();
            BindCountyId();
        });
        //所在县区
        $("#CityId").change(function () {
            BindCountyId();
        });
    }
    //所在市下拉框
    function BindCityId() {
        $("#CityId").html("");
        $("#CityId").append("<option value=''>==请选择==</option>");
        AjaxJson("/Utility/GetProvinceCityListJson", { ParentId: $("#ProvinceId").val() }, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#CityId").append($("<option></option>").val(DataJson[i].Code).html(DataJson[i].FullName));
            });
        })
    }
    //所在县区
    function BindCountyId() {
        $("#CountyId").html("");
        $("#CountyId").append("<option value=''>==请选择==</option>");
        AjaxJson("/Utility/GetProvinceCityListJson", { ParentId: $("#CityId").val() }, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#CountyId").append($("<option></option>").val(DataJson[i].Code).html(DataJson[i].FullName));
            });
        })
    }
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/AmmeterModule/Am_Repair/GridPageListJson")",
            datatype: "json",
            height: $(window).height() - 149,
            autowidth: true,
            colModel: [
                    { label: 'Number', name: 'Number', index: 'Number', width: 0, align: 'left', hidden: true },
                    { label: '报修编号', name: 'RepairCode', index: 'RepairCode', width: 60, align: 'left', sortable: true },
                    { label: '电表编号', name: 'AmmeterCode', index: 'AmmeterCode', width: 120, align: 'left', sortable: true },
                    { label: '租户', name: 'UserName', index: 'UserName', width: 120, align: 'left', sortable: true },
                    { label: '租户姓名', name: 'U_Name', index: 'U_Name', width: 60, align: 'left', sortable: true },
                    { label: '业主', name: 'F_UserName', index: 'F_UserName', width: 120, align: 'left', sortable: true },
                    { label: '业主姓名', name: 'F_Name', index: 'F_Name', width: 60, align: 'left', sortable: true },
                     { label: '状态', name: 'StatusStr', index: 'StatusStr', width: 60, align: 'left', sortable: true, cellattr: addCellAttr_red },
                    {
                        label: "报修时间", name: "CreateTime", index: "CreateTime", width: 150,
                        formatter: function (value, options, rowObject) {
                            return formatDate(value, 'yyyy-MM-dd hh:mm:ss');
                        }
                    },
                    { label: '省', name: 'Province', index: 'Province', width: 60, align: 'left', sortable: true },
                    { label: '市', name: 'City', index: 'City', width: 60, align: 'left', sortable: true },
                    { label: '区', name: 'County', index: 'County', width: 60, align: 'left', sortable: true },
                    { label: '地址', name: 'Address', index: 'Address', width: 200, align: 'left', sortable: true },
                    { label: '单元', name: 'Cell', index: 'Cell', width: 60, align: 'left', sortable: true },
                    { label: '楼层', name: 'Floor', index: 'Floor', width: 60, align: 'left', sortable: true },
                    { label: '房号', name: 'Room', index: 'Room', width: 60, align: 'left', sortable: true },
            ],
            viewrecords: true,
            pager: "#gridPager",
            sortname: 'CreateTime',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
        });
    }
    function addCellAttr_red(rowId, val, rawObject, cm, rdata) {
        if (rawObject.planId == null) {
            return "style='color:red'";
        }
    }
    function addCellAttr_blue(rowId, val, rawObject, cm, rdata) {
        if (rawObject.planId == null) {
            return "style='color:blue'";
        }
    }
    //明细
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "Number");
        if (IsChecked(KeyValue)) {
            var url = "/AmmeterModule/Am_Repair/Detail?KeyValue=" + KeyValue;
            Dialog(url, "Detail", "报修明细", 820, 500, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入

    }
    //搜索
    function btn_Search() {
        var keywords = $("#keywords").val();
        var Status = $("#Status").val();
        var BeginTime = $("#BeginTime").val();
        var EndTime = $("#EndTime").val();
        var ProvinceId = "", CityId = "", CountyId = "";
        if (IsNullOrEmpty($("#ProvinceId").val())) {
            ProvinceId = $("#ProvinceId").find("option:selected").text();
        }
        if (IsNullOrEmpty($("#CityId").val())) {
            CityId = $("#CityId").find("option:selected").text();
        }
        if (IsNullOrEmpty($("#CountyId").val())) {
            CountyId = $("#CountyId").find("option:selected").text();
        }
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/AmmeterModule/Am_Repair/GridPageListJson")?Status=" + Status + '&keywords=' + keywords +
                '&ProvinceId=' + ProvinceId + '&CityId=' + CityId + '&CountyId=' + CountyId + '&BeginTime=' + BeginTime +
                '&EndTime=' + EndTime, page: 1
        }).trigger('reloadGrid');
    }
    //要打印数据源，子页面调用的函数
    function PrintDataSource() {
        var columnModel = $("#gridTable").jqGrid('getGridParam', 'colModel');
        var dataModel = $("#gridTable").jqGrid("getRowData");
        //var footerData = $("#gridTable").jqGrid("footerData");
        var JsonData = {
            columnModel: columnModel,
            dataModel: dataModel,
            //footerData: footerData,
        }
        return JsonData;
    }
    //点击打印
    function btn_Print() {
        PrintDialog("/Utility/PrintPage", "PrintPage", "打印当前页", 1200, 500, function (iframe) {
            top.frames[iframe].SubmitPrint()
        });
    }
    //导出Excel
    function btn_derive() {
        //SetDeriveExcel("#gridTable", "订单信息");
        //openDialog("/CommonModule/ExcelImport/DeriveDialog", "DeriveDialog", "订单信息", 600, 300, function (iframe) {
        //    top.frames[iframe].AcceptClick();
        //});
        //var SelectedField = ""; $('#AccessView .selected a').each(function () { SelectedField += $(this).attr('id') + ","; });
        Loading(true, "正在处理要导出数据...");
        var keywords = $("#keywords").val();
        var Status = $("#Status").val();
        var BeginTime = $("#BeginTime").val();
        var EndTime = $("#EndTime").val();
        var ProvinceId = "", CityId = "", CountyId = "";
        if (IsNullOrEmpty($("#ProvinceId").val())) {
            ProvinceId = $("#ProvinceId").find("option:selected").text();
        }
        if (IsNullOrEmpty($("#CityId").val())) {
            CityId = $("#CityId").find("option:selected").text();
        }
        if (IsNullOrEmpty($("#CountyId").val())) {
            CountyId = $("#CountyId").find("option:selected").text();
        }
        window.setTimeout(function () {
            location.href = "/AmmeterModule/Am_Repair/ExportExcel??keywords=" + keywords + '&Status=' + Status +
                '&ProvinceId=' + ProvinceId + '&CityId=' + CityId + '&CountyId=' + CountyId + '&BeginTime=' + BeginTime +
                '&EndTime=' + EndTime;
            Loading(false);
        }, 200);
    }
</script>
<!--工具栏-->
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>关键字：</th>
            <td>
                <input id="keywords" type="text" class="txt" style="width: 120px" />
            </td>
            <th class="formTitle">所在省：</th>
            <td class="formValue">
                <select id="ProvinceId" class="select" style="width: 80px"></select>
            </td>
            <th class="formTitle">所在市：</th>
            <td class="formValue">
                <select id="CityId" class="select" style="width: 80px"></select>
            </td>
            <th class="formTitle">所在县区：</th>
            <td class="formValue">
                <select id="CountyId" class="select" style="width: 80px"></select>
            </td>
            <th>状态：</th>
            <td>
                <select id="Status" class="select" style="width: 60px">
                    <option value="-1">请选择</option>
                    <option value="0">未处理</option>
                    <option value="1">已处理</option>
                </select>
            </td>
            <th>账单日期：</th>
            <td>
                <input id="BeginTime" type="text" class="txt Wdate" value="@LeaRun.Utilities.DateTimeHelper.GetDate(-7)" style="width: 100px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
            </td>
            <td>-</td>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@LeaRun.Utilities.DateTimeHelper.GetToday()" style="width: 100px" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'BeginTime\')}' })" />
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
